<main>
    <div class="row mb-2 mt-5">
        <div class="col-sm-6 offset-3">
            <div class="row">
                <div class="col-md-6">
                    <button (click)="handleExport()" class="btn btn-primary float-right">
                        Export <i class="fa fa-download"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a href="https://s2.gaming-cdn.com/images/products/6694/orig/half-life-3-pc-juego-cover.jpg?v=1666697251" download>
        download </a>
    </div>
</main>
